<template>

    <div class="container" @update="fetchMessages()" >
        <div class="row"  v-if="!isGuest">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <ul class="nav nav-pills">
                    <li :class="owner == 'all' ? 'active' : ''"><a @click="fetchMessages()" href="#">All messages</a></li>
                    <li :class="owner == 'self' ? 'active' : ''"><a @click="fetchMessages('self')" href="#">My messages</a></li>
                </ul>
            </div>
            <hr>
        </div>

        <div class="alert alert-danger" role="alert" v-if="error">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            @{{ error }}
        </div>
        <div class="row" v-for="message in messageList">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><b v-text="message.username"></b> <small v-show="message.email" v-text="'(' + message.email + ')'"></small></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4 col-sm-2 ">
                                <img class="profile-picture img-responsive" v-bind:src="'http://loremflickr.com/240/240?random=' + message.id" />
                            </div>
                            <div class="col-xs-8 col-sm-10" v-text="message.message"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Send your message</h4></div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <form class="form-horizontal" method="post" action="#">
                                <div class="form-group" :class="form.errors.username ? 'has-error' : ''">
                                    <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input @focus="form.errors.username = null" id="name" type="text" class="form-control" name="name" placeholder="Enter your Name" v-model="form.username"/>
                                        </div>
                                    </div>
                                    <span class="help-block" v-for="error in form.errors.username">{{error}}</span>
                                </div>

                                <div class="form-group" :class="form.errors.email ? 'has-error' : ''">
                                    <label class="cols-sm-2 control-label">Your Email</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                            <input @focus="form.errors.email = null" v-model="form.email" type="text" class="form-control" placeholder="Enter your Email"/>
                                        </div>
                                    </div>
                                    <span class="help-block" v-for="error in form.errors.email">{{error}}</span>
                                </div>

                                <div class="form-group" :class="form.errors.message ? 'has-error' : ''">
                                    <label class="cols-sm-2 control-label">Your Message</label>
                                    <textarea @focus="form.errors.message = null" class="form-control" placeholder="Enter your text" v-model="form.message"></textarea>
                                    <span class="help-block" v-for="error in form.errors.message">{{error}}</span>
                                </div>

                                <div class="form-group ">
                                    <button type="button" class="btn btn-primary" @click="send()">Send</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>

export default {
    //props: ['messageList'],
    data () {
        return {
            isGuest: true,
            loading: false,
            messageList: [],
            error: false,
            owner: 'all',
            form : {
                email: null,
                username: null,
                message : null,
                errors : {}
            }
        }
    },
    methods: {

        fetchMessages: function(owner) {
            owner = owner || 'all';
            this.owner = owner;
            this.error = '';
            this.messageList = [];
            this.loading = true;
            this.$http.get('/api/v1/message',{params: {o: owner}}).then((response) => {
                if(response.body.error) {
                    this.error = response.body.error;
                } else {
                    this.messageList = response.body.messages;
                    this.isGuest = response.body.isGuest;
                }
                this.loading = false;
            });
        },
        send : function () {
            this.$http.post('/api/v1/message/save', this.form, {
                emulateJSON: true
            }).then((response) => {
                response.body == 1 ? alert('send message success') : this.form.errors = response.body;
                this.loading = false;
            });
        }
    },
    created : function () {
        this.fetchMessages();
    }

};
</script>
<style>
    .profile-picture {
        border: 3px solid #ddd;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
</style>