
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100vh;
  margin: 0;
}

body {
  > .container {
    padding-top:70px;
  }
}